<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="FontMaster" value="Segoe UI" />
    <add key="SizeMaster" value="14" />
    <add key="IntervalMaster" value="500" />
    <add key="Logging" value="0" />
    <add key="TextColour" value="#FFFFFFFF" />
    <add key="BGColour" value="#FFEE82EE" />
  </appSettings>
</configuration>